
        <div class = "flex flex-row mt-20">
            <div class = "w-2/5 flex flex-col justify-center">
                <h2 class="font-serif text-5xl text-gray-dark mb-4">blahhhblahsh</h2>
                <p class="uppercase tracking-wide">branding branding</p>
                <p class="uppercase  tracking-wide">text</p>
                
                <a href="#" class="bg-gradient-to-r from-orange to-purple rounded-full py-4 px-8 text-gray uppercase text-xl self-start">shop</a>
            </div>
            <div class = 'w-3/5'>
                <img src="/images/hero3.jpg" class="w-full">
            </div>
        </div>
        
   {{!-- sections for cards to display items --}}
   <div class = "grid gap-4 grid-cols-3 grid-rows-3">
   {{#each products as |product|}}
   {{!-- <form class="allClassForm"action="/{{product.id}}" method="POST" > --}}
    <div class="card" style="width: 18rem;" id="products">

   
  <img src="{{product.thumbnail}}" class="card-img-top" alt="productPicture">
  
  <div class="card-body">



    <label for="{{generateId 'name'}}">{{product.product_name}}</label>
    <input type="text" name="name" id="{{generateId 'name'}}">
    <label for="{{generateId 'price'}}">Price: ${{product.price}}</label>
    <input type="text" name="price" id="{{generateId 'price'}}">
    <label for="{{generateId 'description'}}">{{product.description}}</label>
    <input type="text" name="description" id="{{generateId 'description'}}">
    <label for="{{generateId 'stock'}}">Stock: {{product.stock}}</label>
    <input type="text" name="stock" id="{{generateId 'stock'}}">
    
    
        <button type="submit" onclick="addToCart()" class =" carts bg-yellow border border-yellow text-white px-8 rounded-r-md hover:bg-transparent hover:text-yellow transition addToCartButton" data-id={{product.id}}>Add to Cart</button>
      {{!-- </form> --}}
</div>
   </div>
   {{/each}}
   </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{indexScript}}"></script>
    
<script src='js/cartscript.js'></script>
